
/* Reset */
* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* Testcases listing */
.suite-header {
  margin-top: 10px;
}

.suite-header label {
  margin-left: 5px;
}

.testcase-header {
  width: 300px;
  margin-left: 10px;
}
.testcase-header label {
  width: 300px;
  float: right;
}
.testcase-header label span {
  margin-right: 5px;
}

.horizontal-list {
  height: 400px; /* force overflow to test */
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
